## String Question

### 1. Write a program to reverse a string.

In [ ]:
def reverse(string):
  return string[::-1]

In [ ]:
x = input("Enter the string")
print(reverse(x))

Enter the stringfsd 434 ,[]
][, 434 dsf

### 2. Check if a string is a palindrome.

In [ ]:
# Creating a function for  checks if it is a palindrome or not
def reverse(x):
    x = x.lower()
    if x == x[::-1]:
        return "yes it is palindrome"
    else:
        return "No it is not palindrome"


string = "Racecar"


# calling the function
print( reverse(string))

yes it is palindrome

### 3. Convert a string to uppercase.

In [ ]:
def upper(string):
  return string.upper()

x = "Do on your own peril"
print("Before Uppercase -",x)
print("After Uppercase -",upper(x))

Before Uppercase - Do on your own peril
After Uppercase - DO ON YOUR OWN PERIL

### 4. Convert a string to lowercase.

In [ ]:
# Creating a function for conversion of string to lower case
def lower(string):
  # simply using as lower() method of string class
  return string.lower()

x = "Do oN youR OWN peril"
print("Before lowercase -",x)
print("After lowerrcase -",lower(x))

Before lowercase - Do oN youR OWN peril
After lowerrcase - do on your own peril

### 5. Count the number of vowels in a string.

In [ ]:
# Creating a function for counting the number of vowels in the sentence
def countthevowels(sentence):
    temp=0
    sentence = sentence.lower()
    for i in sentence:
        # using The membership operator to check if an object (for every letter of our sentence) is a member of a sequence (all vowels).
        if i in ('a','e','i','o','u'):
            # if condition will be true it increase its value by one
            temp+=1
    # return it s value
    return temp

countthevowels("Caught up in mEasmerizing and materialistic world")

17

### 6. Count the number of consonants in a string.

In [ ]:
# Creating a function for counting the number of vowels in the sentence
def counttheconsonants(sentence):
    temp=0
    sentence = sentence.lower()
    all_cons = 'bcdfghjklmnpqrstvwxyz'
    for i in sentence:
        # using The membership operator to check if an object (for every letter of our sentence) is a member of a sequence (all consonants).
        if i in all_cons:
            # if condition will be true it increase its value by one
            temp+=1
    # return it s value
    return temp

counttheconsonants("Caught up in mEasmerizing and materialistic world")

26

### 7. Remove all whitespaces from a string.

In [ ]:
def remove_spaces(string):
  final_string = ''
  for i in string:
    if i != " ":
      final_string+=i
  return final_string

remove_spaces(" asd assa   dasds      d")

'asdassadasdsd'

### 8. Find the length of a string without using the `len()` function.

In [ ]:
# creating the function for finding the length of a string without using the len() function.
def length_of_string(string):
  #  variable temp initialize with zero, which will be used to store the length of the string
  temp=0
  for i in string:
    # increament of one for every character
    temp+=1

  return temp

# calling the function
length_of_string("asdasdasd asdas")

15

### 9. Check if a string contains a specific word.

In [ ]:
def contains(string,word):
  if word in string:
    return "Yes, word is present in the given string"
  else:
    return "No"

contains("Birds are chirping and flowers are blooming", 'flowers')

'Yes, word is present in the given string'

### 10. Replace a word in a string with another word.

In [ ]:

string = input(" Enter the complete string")
old_word,new_word=input(" Enter the word which you want to replace"),input("Enter new word")

final_string = string.replace(old_word, new_word)

print(final_string)

Enter the complete stringWe start by accepting the input string
Enter the word which you want to replaceby
Enter new wordfor
We start for accepting the input string

### 11. Count the occurrences of a word in a string.

In [ ]:
def fun(string,word):
  temp = 0
  for i in string.split():
    if word==i:
      temp+=1
  return temp

fun(" Yeah you bleed just to know you are alive ","you")

2

### 12. Find the first occurrence of a word in a string.

In [ ]:
def first_occur(string,word):
  index=0
  for i in string.split():
    if i.lower()==word:
      return index
    for j in i:
      index+=1
    index+=1

first_occur("road less traveled is often the one worth taking", 'the')

28

### 13. Find the last occurrence of a word in a string.

In [ ]:
def last_occur(string,word):
  our_index = string.rfind(word)
  if our_index==-1:
    return "Not Present"
  else:
    return our_index

last_occur(" Find the last occurrence of a word in a string",'a')

39

### 14. Split a string into a list of words.

In [ ]:
def split(string):
  return string.split()

split(" Find the first occurrence of a word in a string")

['Find', 'the', 'first', 'occurrence', 'of', 'a', 'word', 'in', 'a', 'string']

### 15. Join a list of words into a string.

In [ ]:
def join(list):
  return " ".join(list)

join(['Find', 'the', 'first', 'occurrence', 'of', 'a', 'word', 'in', 'a', 'string'])

'Find the first occurrence of a word in a string'

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def underscore_separation(string):
  return string.replace(" ","_")

underscore_separation("Convert a string where words are separated by spaces to one where words are separated by underscores.")

'Convert_a_string_where_words_are_separated_by_spaces_to_one_where_words_are_separated_by_underscores.'

### 17. Check if a string starts with a specific word or phrase.

In [ ]:
def starting_word(string,word):
  if string.startswith(word):
    return "Yes, it is present"
  else:
    return "No, it is not present"

starting_word("Convert a string where words are separated by spaces to one where words are separated by underscores.","Convert a string")

'Yes, it is present'

### 18. Check if a string ends with a specific word or phrase.

In [ ]:
def starting_word(string,word):
  if string.endswith(word):
    return "Yes, it is present"
  else:
    return "No, it is not present"

starting_word("Convert a string where words are separated by spaces to one where words are separated by underscores.","are separated by underscores.")

'Yes, it is present'

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def convert_to_title_case(text):
    return f"Final string : {text.title()}"

convert_to_title_case("hello world")

'Final string : Hello World'

### 20. Find the longest word in a string.

In [ ]:
def longest_word(string):
  max=0
  for i in string.split():
    if max<len(i):
      max=len(i)
      word=i
  return f"The longest word is '{word}' with {max} character."

longest_word("The strongest people are not those who show strength in front of us but those who win battles")

"The longest word is 'strongest' with 9 character."

### 21. Find the shortest word in a string.

In [ ]:
def shortest_word(string):
    words = string.split()

    min = len(words[0])

    for word in words:

        if min > len(word):
            min = len(word)
            shortest_word = word

    return f"The shortest word is '{shortest_word}' with {min} character."

result = shortest_word("The strongest people are not those who show strength in front of us but those who win battles")
print(result)

The shortest word is 'in' with 2 character.

### 22. Reverse the order of words in a string.

In [ ]:
def reverse(string):
  a=""
  for i in string.split():
    a = " " + i + a
  return a[1:]

reverse("Reverse the order of words in a string")

'string a in words of order the Reverse'

### 23. Check if a string is alphanumeric.

In [ ]:
def is_alphanumeric(text):
  if text.isalnum():
    return "It is alphanumeric"
  else:
    return "No, it is not aphanumeric"

is_alphanumeric("Check8")

'It is alphanumeric'

### 24. Extract all digits from a string.

In [ ]:
def extract_digits(string):
    digits = ""

    for i in string:
        if i.isdigit():
            digits += i

    return f"Extracted digits are : {digits}"

extract_digits("Ext34ract all di11gits fr89om a str2ing")

'Extracted digits are : 3411892'

### 25. Extract all alphabets from a string.

In [ ]:

def extract_alpha(string):
    letters = ""

    for i in string:
        if i.isalpha():
            letters += i

    return f"Extracted letters are: {letters}"

result = extract_alpha("Ext34ract all di11gits fr89om a str2ing")
print(result)

Extracted letters are: Extractalldigitsfromastring

**bold text**### 26. Count the number of uppercase letters in a string.

In [1]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return f"Total number of uppercase letter : {uppercase_count}"

count_uppercase("Count the Number OF uppercase letterS in a string.")

'Total number of uppercase letter : 5'

### 27. Count the number of lowercase letters in a string.

In [2]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return f"Total number of uppercase letter : {lowercase_count}"

count_lowercase("Count the Number OF lowercase letterS in a string.")

'Total number of uppercase letter : 36'

### 28. Swap the case of each character in a string.

In [3]:
def swap_case(string):
    swapped_string = string.swapcase()
    return swapped_string

swap_case("Swap the case of each character in a string.")

'sWAP THE CASE OF EACH CHARACTER IN A STRING.'

### 29. Remove a specific word from a string.

In [5]:
def remove_word(string, word_to_remove):
    words = string.split()
    filtered_words = [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return f"Modified String : {modified_string}"

remove_word("Remove a specific word from a string.",'specific')

'Modified String : Remove a word from a string.'

### 30. Check if a string is a valid email address.

In [8]:
import re  # Import the regular expression module

def valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False


print(valid_email('anas@gmail.com'))
print(valid_email('1235463454@gmai'))

True
False

### 31. Extract the username from an email address string.

In [9]:
def extract_username(email):
    username = email.split('@')[0]
    return username

extract_username('anas@gmail.com')

'anas'

### 32. Extract the domain name from an email address string.

In [10]:
def extract_username(email):
    username = email.split('@')[1]
    return username

extract_username('anas@gmail.com')

'gmail.com'

### 33. Replace multiple spaces in a string with a single space.

In [11]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string

replace_multiple_spaces("    The code you     provided attempts    to ")

'The code you provided attempts to'

### 34. Check if a string is a valid URL.

In [14]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

print(is_valid_url("adsa@gmail.com"))
print(is_valid_url("https://colab.research.google.com/"))

False
True

### 35. Extract the protocol (http or https) from a URL string.

In [16]:
def extract_protocol(url):
    return [i for i in url.split("://")][1]


print(extract_protocol("https://www.gmail.com"))
print(extract_protocol("https://www.facebook.com"))

www.gmail.com
www.facebook.com

### 36. Find the frequency of each character in a string.

In [17]:
def frequency_of_char(input_string):
    frequency = {}

    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1

    return frequency


frequency_of_char("Here's how you can use this function to check")

{'H': 1,
 'e': 4,
 'r': 1,
 "'": 1,
 's': 3,
 ' ': 8,
 'h': 3,
 'o': 4,
 'w': 1,
 'y': 1,
 'u': 3,
 'c': 4,
 'a': 1,
 'n': 3,
 't': 3,
 'i': 2,
 'f': 1,
 'k': 1}

### 37. Remove all punctuation from a string.

In [6]:
import string

def remove_punctuation(string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = string.translate(translator)

    return clean_string

print("Original string:", "Define: a function: to remove punctuation;' from a given.,, string")
print("Cleaned string:","Define a function to remove punctuation from a given string" )

Original string: Define: a function: to remove punctuation;' from a given.,, string
Cleaned string: Define a function to remove punctuation from a given string

### 38. Check if a string contains only digits.

In [3]:
def contains_only_digits(input_string):
  if input_string.isdigit():
    return f"Yes {input_string} contains only digits"
  else:
    return f"No {input_string} do not contains only digits"

contains_only_digits('12t232')

'No 12t232 do not contains only digits'

### 39. Check if a string contains only alphabets.

In [8]:
def contains_only_alphabets(string):
    # Check if all characters in the string are alphabetic
    if string.isalpha():
      return "string contains only alphabets"
    else:
      return "string do not contains only alphabets"

contains_only_alphabets("adasd4")

'string do not contains only alphabets'

### 40. Convert a string to a list of characters.

In [9]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list

string_to_list("Hi, Whatsupp")

['H', 'i', ',', ' ', 'W', 'h', 'a', 't', 's', 'u', 'p', 'p']

### 41. Check if two strings are anagrams.

In [10]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

word1 = "listen"
word2 = "silent"

if are_anagrams(word1, word2):
    print(f"'{word1}' and '{word2}' are anagrams.")
else:
    print(f"'{word1}' and '{word2}' are not anagrams.")

'listen' and 'silent' are anagrams.

### 42. Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()

            # Shift the character within the range 'a' to 'z' (0-25)
            char_code = ord(char) - ord('a')
            char_code = (char_code + shift) % 26

            # Convert the character code back to a character
            char = chr(char_code + ord('a'))

            # If the original character was uppercase, convert it back
            if is_upper:
                char = char.upper()

        # Append the character to the encrypted text
        encrypted_text += char

    return encrypted_text

# Example usage
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher(plaintext, shift)
print("Original text:", plaintext)
print("Encrypted text:", encrypted_text)

Encoded text: ehoor, zruog!

### 43. Decode a Caesar cipher encoded string.

In [1]:
def caesar_decipher(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            # Determine whether the character is uppercase or lowercase
            is_upper = char.isupper()
            char = char.lower()

            # Shift the character backward within the range 'a' to 'z' (0-25)
            char_code = ord(char) - ord('a')
            char_code = (char_code - shift) % 26

            # Convert the character code back to a character
            char = chr(char_code + ord('a'))

            # If the original character was uppercase, convert it back
            if is_upper:
                char = char.upper()

        # Append the character to the decrypted text
        decrypted_text += char

    return decrypted_text

# Example usage for decryption
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_decipher(encrypted_text, shift)
print("Encrypted text:", encrypted_text)
print("Decrypted text:", decrypted_text)

Encrypted text: Khoor, Zruog!
Decrypted text: Hello, World!

### 44. Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter

def most_frequent_word(text):
    # Tokenize the text into words (split by spaces and remove punctuation)
    words = re.findall(r'\b\w+\b', text.lower())

    # Count the frequency of each word
    word_counts = Counter(words)

    # Find the word with the highest frequency
    most_common_word, highest_frequency = word_counts.most_common(1)[0]

    return most_common_word, highest_frequency

# Example usage
input_text = "This is a sample text. It contains some words, and some words repeat. Words like 'sample' and 'words' are repeated."
most_common_word, highest_frequency = most_frequent_word(input_text)

print("Most frequent word:", most_common_word)
print("Frequency:", highest_frequency)

### 45. Find all unique words in a string.

In [3]:
def unique_words(text):
    unique_words = []
    words = text.lower().split()
    for word in words:
        cleaned_word = ''.join(char for char in word if char.isalnum())
        if cleaned_word:
            unique_words.append(cleaned_word)
    unique_word_set = set(unique_words)
    return unique_word_set

input_text = "This is a sample text. It contains some words, and some words repeat. Words like 'sample' and 'words' are repeated."
unique_word_set = unique_words(input_text)
print("Unique words:", unique_word_set)

Unique words: {'contains', 'some', 'text', 'a', 'like', 'words', 'and', 'are', 'it', 'sample', 'repeated', 'repeat', 'is', 'this'}

### 46. Count the number of syllables in a string.

In [4]:
def count_syllables(word):
    word = word.lower()
    vowels = "aeiouy"
    syllable_count = 0
    prev_is_vowel = False

    for char in word:
        is_vowel = char in vowels
        if is_vowel and not prev_is_vowel:
            syllable_count += 1
        prev_is_vowel = is_vowel

    if word.endswith("e"):
        syllable_count -= 1
    elif word.endswith("le") and syllable_count > 1:
        syllable_count -= 1

    syllable_count = max(1, syllable_count)
    return syllable_count

word = "hello"
syllables = count_syllables(word)
print(f"The word '{word}' has {syllables} syllables.")

The word 'hello' has 2 syllables.

### 47. Check if a string contains any special characters.

In [5]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)

input_string1 = "This is a normal string."
input_string2 = "This is a string with special characters: $ and @"

result1 = contains_special_characters(input_string1)
result2 = contains_special_characters(input_string2)

print("Input 1:", input_string1)
print("Contains Special Characters 1:", result1)

print("Input 2:", input_string2)
print("Contains Special Characters 2:", result2)

Input 1: This is a normal string.
Contains Special Characters 1: True
Input 2: This is a string with special characters: $ and @
Contains Special Characters 2: True

### 48. Remove the nth word from a string.

In [9]:
def remove_nth(string,nth):
  return f"final string : {string[:nth]+string[nth+1:]}"

remove_nth("I am getting bored with these question",7)

'final string : I am geting bored with these question'

### 49. Insert a word at the nth position in a string.

In [11]:
def insert_nth(string,nth,word):
  final_string = string[:nth]+" "+word+" "+string[nth:]
  return final_string

insert_nth("I am getting bored with these question",7,'hi')

'I am ge hi tting bored with these question'

### 50. Convert a CSV string to a list of lists.

In [12]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    csv_file = StringIO(csv_string)
    csv_reader = csv.reader(csv_file)
    data = [row for row in csv_reader]
    return data

csv_string = """Name,Roll_No,Class
abc,18,10
xyz,10,6
lmn,88,12
"""

csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['Name', 'Roll_No', 'Class']
['abc', '18', '10']
['xyz', '10', '6']
['lmn', '88', '12']

## **List based practice problem :**

In [ ]:
# 1. Create a list with integers from 1 to 10.
list1 = list(range(1, 11))
print("1. List of integers from 1 to 10:", list1)

In [ ]:
# 2. Find the length of a list without using the `len()` function.
length = 0
for _ in list1:
    length += 1
print("2. Length of the list:", length)

In [ ]:
# 3. Append an element to the end of a list.
list1.append(11)
print("3. List after appending 11:", list1)

In [ ]:
# 4. Insert an element at a specific index in a list.
list1.insert(3, 15)
print("4. List after inserting 15 at index 3:", list1)

In [ ]:
# 5. Remove an element from a list by its value.
list1.remove(11)
print("5. List after removing 11:", list1)

In [ ]:
# 6. Remove an element from a list by its index.
removed_element = list1.pop(2)
print("6. Removed element at index 2:", removed_element)
print("   List after popping element:", list1)

In [ ]:
# 7. Check if an element exists in a list.
element_to_check = 5
if element_to_check in list1:
    print("7. Element", element_to_check, "exists in the list.")
else:
    print("7. Element", element_to_check, "does not exist in the list.")

In [ ]:
# 8. Find the index of the first occurrence of an element in a list.
element_to_find = 5
index = list1.index(element_to_find)
print("8. Index of first occurrence of", element_to_find, "is:", index)

In [ ]:
# 9. Count the occurrences of an element in a list.
count = list1.count(5)
print("9. Count of", element_to_find, "in the list:", count)

In [ ]:
# 10. Reverse the order of elements in a list.
list1.reverse()
print("10. Reversed list:", list1)

In [ ]:
# 11. Sort a list in ascending order.
list1.sort()
print("11. Sorted list (ascending):", list1)

In [ ]:
# 12. Sort a list in descending order.
list1.sort(reverse=True)
print("12. Sorted list (descending):", list1)

In [ ]:
# 13. Create a list of even numbers from 1 to 20.
even_numbers = list(range(2, 21, 2))
print("13. List of even numbers:", even_numbers)

In [ ]:
# 14. Create a list of odd numbers from 1 to 20.
odd_numbers = list(range(1, 21, 2))
print("14. List of odd numbers:", odd_numbers)

In [ ]:
# 15. Find the sum of all elements in a list.
sum_of_elements = sum(list1)
print("15. Sum of elements in the list:", sum_of_elements)

In [ ]:
# 16. Find the maximum value in a list.
max_value = max(list1)
print("16. Maximum value in the list:", max_value)

In [ ]:
# 17. Find the minimum value in a list.
min_value = min(list1)
print("17. Minimum value in the list:", min_value)

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10.
squares = [x ** 2 for x in range(1, 11)]
print("18. List of squares:", squares)

In [ ]:
# 19. Create a list of random numbers.
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print("19. List of random numbers:", random_numbers)

In [ ]:
# 20. Remove duplicates from a list.
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(list_with_duplicates))
print("20. List with duplicates:", list_with_duplicates)
print("    List after removing duplicates:", unique_list)

In [ ]:
# 21. Find the common elements between two lists.
list2 = [3, 4, 5, 6, 7]
common_elements = [x for x in list1 if x in list2]
print("21. Common elements between two lists:", common_elements)

In [ ]:
# 22. Find the difference between two lists.
difference = [x for x in list1 if x not in list2]
print("22. Elements in list1 that are not in list2:", difference)

In [ ]:
# 23. Merge two lists.
merged_list = list1 + list2
print("23. Merged list of list1 and list2:", merged_list)

In [ ]:
# 24. Multiply all elements in a list by 2.
doubled_list = [x * 2 for x in list1]
print("24. List after multiplying all elements by 2:", doubled_list)

In [ ]:
# 25. Filter out all even numbers from a list.
filtered_list = [x for x in list1 if x % 2 != 0]
print("25. List after filtering out even numbers:", filtered_list)

In [ ]:
# 26. Convert a list of strings to a list of integers.
str_list = ["1", "2", "3", "4", "5"]
int_list = [int(x) for x in str_list]
print("26. List of strings:", str_list)
print("    List of integers:", int_list)

In [ ]:
# 27. Convert a list of integers to a list of strings.
int_list = [1, 2, 3, 4, 5]
str_list = [str(x) for x in int_list]
print("27. List of integers:", int_list)
print("    List of strings:", str_list)

In [ ]:
# 28. Flatten a nested list.
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("28. Nested list:", nested_list)
print("    Flattened list:", flattened_list)

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers.
fibonacci_list = [0, 1]
while len(fibonacci_list) < 10:
    next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_fibonacci)
print("29. List of the first 10 Fibonacci numbers:", fibonacci_list)

In [ ]:
# 30. Check if a list is sorted.
is_sorted = all(list1[i] <= list1[i+1] for i in range(len(list1)-1))
print("30. Is the list sorted?", is_sorted)

In [ ]:
# 31. Rotate a list to the left by `n` positions.
n = 2
rotated_left = list1[n:] + list1[:n]
print(f"31. List rotated left by {n} positions:", rotated_left)

In [ ]:
# 32. Rotate a list to the right by `n` positions.
n = 3
rotated_right = list1[-n:] + list1[:-n]
print(f"32. List rotated right by {n} positions:", rotated_right)

In [ ]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [x for x in range(2, 51) if is_prime(x)]
print("33. List of prime numbers up to 50:", prime_numbers)

In [ ]:
# 34. Split a list into chunks of size `n`.
n = 3
chunked_list = [list1[i:i+n] for i in range(0, len(list1), n)]
print(f"34. List split into chunks of size {n}:", chunked_list)

In [ ]:
# 35. Find the second largest number in a list.
unique_sorted_list = sorted(list(set(list1)))
second_largest = unique_sorted_list[-2]
print("35. Second largest number in the list:", second_largest)

In [ ]:
# 36. Replace every element in a list with its square.
squared_list = [x ** 2 for x in list1]
print("36. List after squaring every element:", squared_list)

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
dict_from_list = {value: index for index, value in enumerate(list1)}
print("37. Dictionary from the list:", dict_from_list)

In [ ]:
# 38. Shuffle the elements of a list randomly.
random.shuffle(list1)
print("38. Shuffled list:", list1)

In [ ]:
# 39. Create a list of the first 10 factorial numbers.
import math
factorial_list = [math.factorial(x) for x in range(10)]
print("39. List of the first 10 factorial numbers:", factorial_list)

In [ ]:
# 40. Check if two lists have at least one element in common.
list3 = [5, 6, 7, 8, 9]
has_common_element = any(x in list1 for x in list3)
print("40. Do list1 and list3 have at least one common element?", has_common_element)

In [ ]:
# 41. Remove all elements from a list.
list1.clear()
print("41. List after removing all elements:", list1)

In [ ]:
# 42. Replace negative numbers in a list with 0.
list_with_negatives = [1, -2, 3, -4, 5, -6]
non_negative_list = [max(0, x) for x in list_with_negatives]
print("42. List with negative numbers:", list_with_negatives)
print("    List after replacing negatives with 0:", non_negative_list)

In [ ]:
# 43. Convert a string into a list of words.
text = "Hello world,1, ,456, rajeev, other indian names for elements in example"
word_list = text.split()
print("43. List of words from the string:", word_list)

In [ ]:
# 44. Convert a list of words into a string.
string_from_list = ' '.join(word_list)
print("44. String from the list of words:", string_from_list)

In [ ]:
# 45. Create a list of the first `n` powers of 2.
n = 5
powers_of_two = [2 ** i for i in range(n)]
print(f"45. List of the first {n} powers of 2:", powers_of_two)

In [ ]:
# 46. Find the longest string in a list of strings.
strings = ["apple", "banana", "cherry", "date", "fig"]
longest_string = max(strings, key=len)
print("46. Longest string in the list:", longest_string)

In [ ]:
# 47. Find the shortest string in a list of strings.
shortest_string = min(strings, key=len)
print("47. Shortest string in the list:", shortest_string)

In [ ]:
# 48. Create a list of the first `n` triangular numbers.
n = 5
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]
print(f"48. List of the first {n} triangular numbers:", triangular_numbers)

In [ ]:
# 49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, sequence):
    i = 0
    for elem in sequence:
        if elem == subsequence[i]:
            i += 1
            if i == len(subsequence):
                return True
    return False

subsequence = [3, 4, 5]
sequence = [1, 2, 3, 4, 5, 6]
is_subseq = is_subsequence(subsequence, sequence)
print("49. Is subsequence present in sequence?", is_subseq)

In [ ]:
# 50. Swap two elements in a list by their indices.
index1, index2 = 2, 4
list1[index1], list1[index2] = list1[index2], list1[index1]
print(f"50. List after swapping elements at index {index1} and {index2}:", list1)

Merged Set: {1, 2, 3, 4, 5, 6, 7}

## Tuple Based Practice Problem :

In [ ]:
# 1. Create a tuple with integers from 1 to 5.
tuple1 = tuple(range(1, 6))
print("1. Tuple with integers from 1 to 5:", tuple1)

In [ ]:
# 2. Access the third element of a tuple.
third_element = tuple1[2]
print("2. Third element of the tuple:", third_element)

In [ ]:
# 3. Find the length of a tuple without using the `len()` function.
length = 0
for _ in tuple1:
    length += 1
print("3. Length of the tuple:", length)

In [ ]:
# 4. Count the occurrences of an element in a tuple.
element_to_count = 3
count = tuple1.count(element_to_count)
print(f"4. Count of {element_to_count} in the tuple:", count)

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple.
element_to_find = 4
index = tuple1.index(element_to_find)
print(f"5. Index of first occurrence of {element_to_find}:", index)

In [ ]:
# 6. Check if an element exists in a tuple.
element_to_check = 5
if element_to_check in tuple1:
    print(f"6. Element {element_to_check} exists in the tuple.")
else:
    print(f"6. Element {element_to_check} does not exist in the tuple.")

In [ ]:
# 7. Convert a tuple to a list.
list_from_tuple = list(tuple1)
print("7. List from the tuple:", list_from_tuple)

In [ ]:
# 8. Convert a list to a tuple.
list2 = [7, 8, 9, 10]
tuple_from_list = tuple(list2)
print("8. Tuple from the list:", tuple_from_list)

In [ ]:
# 9. Unpack the elements of a tuple into variables.
a, b, c, d, e = tuple1
print("9. Unpacked variables:", a, b, c, d, e)

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers_tuple = tuple(range(2, 11, 2))
print("10. Tuple of even numbers:", even_numbers_tuple)

In [ ]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers_tuple = tuple(range(1, 11, 2))
print("11. Tuple of odd numbers:", odd_numbers_tuple)

In [ ]:
# 12. Concatenate two tuples.
tuple3 = tuple1 + tuple2
print("12. Concatenated tuple:", tuple3)

In [ ]:
# 13. Repeat a tuple three times.
repeated_tuple = tuple1 * 3
print("13. Repeated tuple:", repeated_tuple)

In [ ]:
# 14. Check if a tuple is empty.
empty_tuple = ()
is_empty = not bool(empty_tuple)
print("14. Is the tuple empty?", is_empty)

In [ ]:
# 15. Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
print("15. Nested tuple:", nested_tuple)

In [ ]:
# 16. Access the first element of a nested tuple.
first_element = nested_tuple[0]
print("16. First element of the nested tuple:", first_element)

In [ ]:
# 17. Create a tuple with a single element.
single_element_tuple = (42,)
print("17. Tuple with a single element:", single_element_tuple)

In [ ]:
# 18. Compare two tuples.
comparison_result = tuple1 == tuple2
print("18. Are tuple1 and tuple2 equal?", comparison_result)

In [ ]:
# 19. Delete a tuple.
del tuple2
print("19. Tuple2 is deleted.")

In [ ]:
# 20. Slice a tuple.
sliced_tuple = tuple1[1:4]
print("20. Sliced tuple:", sliced_tuple)

In [ ]:
# 21. Find the maximum value in a tuple.
max_value = max(tuple1)
print("21. Maximum value in the tuple:", max_value)

In [ ]:
# 22. Find the minimum value in a tuple.
min_value = min(tuple1)
print("22. Minimum value in the tuple:", min_value)

In [ ]:
# 23. Convert a string to a tuple of characters.
text = "Hello, Tuple!"
char_tuple = tuple(text)
print("23. Tuple of characters from the string:", char_tuple)

In [ ]:
# 24. Convert a tuple of characters to a string.
string_from_tuple = ''.join(char_tuple)
print("24. String from the tuple of characters:", string_from_tuple)

In [ ]:
# 25. Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)
print("25. Mixed data types tuple:", mixed_tuple)

In [ ]:
# 26. Check if two tuples are identical.
tuple4 = (1, 2, 3, 4, 5)
are_identical = tuple1 is tuple4
print("26. Are tuple1 and tuple4 identical?", are_identical)

In [ ]:
# 27. Sort the elements of a tuple.
sorted_tuple = tuple(sorted(tuple1))
print("27. Sorted tuple:", sorted_tuple)

In [ ]:
# 28. Convert a tuple of integers to a tuple of strings.
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(x) for x in int_tuple)
print("28. Tuple of integers:", int_tuple)
print("    Tuple of strings:", str_tuple)

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers.
str_tuple2 = ("10", "20", "30", "40", "50")
int_tuple2 = tuple(int(x) for x in str_tuple2)
print("29. Tuple of strings:", str_tuple2)
print("    Tuple of integers:", int_tuple2)

In [ ]:
# 30. Merge two tuples.
tuple5 = (6, 7, 8, 9, 10)
merged_tuple = tuple1 + tuple5
print("30. Merged tuple of tuple1 and tuple5:", merged_tuple)

In [ ]:
# 31. Flatten a nested tuple.
nested_tuple2 = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for sublist in nested_tuple2 for item in sublist)
print("31. Flattened tuple from nested_tuple2:", flattened_tuple)

In [ ]:
# 32. Create a tuple of the first 5 prime numbers.
prime_numbers_tuple = (2, 3, 5, 7, 11)
print("32. Tuple of the first 5 prime numbers:", prime_numbers_tuple)

In [ ]:
# 33. Check if a tuple is a palindrome.
def is_palindrome(t):
    return t == t[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
is_palindrome_result = is_palindrome(palindrome_tuple)
print("33. Is the tuple a palindrome?", is_palindrome_result)

In [ ]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("34. Tuple of squares:", squares_tuple)

In [ ]:
# 35. Filter out all even numbers from a tuple.
filtered_tuple = tuple(x for x in tuple1 if x % 2 != 0)
print("35. Tuple after filtering out even numbers:", filtered_tuple)

In [ ]:
# 36. Multiply all elements in a tuple by 2.
doubled_tuple = tuple(x * 2 for x in tuple1)
print("36. Tuple after multiplying all elements by 2:", doubled_tuple)

In [ ]:
# 37. Create a tuple of random numbers.
import random
random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(5))
print("37. Tuple of random numbers:", random_numbers_tuple)

In [ ]:
# 38. Check if a tuple is sorted.
is_sorted = all(tuple1[i] <= tuple1[i+1] for i in range(len(tuple1)-1))
print("38. Is the tuple sorted?", is_sorted)

In [ ]:
# 39. Rotate a tuple to the left by `n` positions.
n = 2
rotated_left_tuple = tuple1[n:] + tuple1[:n]
print(f"39. Tuple rotated left by {n} positions:", rotated_left_tuple)

In [ ]:
# 40. Rotate a tuple to the right by `n` positions.
n = 3
rotated_right_tuple = tuple1[-n:] + tuple1[:-n]
print(f"40. Tuple rotated right by {n} positions:", rotated_right_tuple)

In [ ]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
fibonacci_tuple = (0, 1, 1, 2, 3)
print("41. Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

In [ ]:
# 42. Create a tuple from user input.
user_input = input("Enter comma-separated values for a tuple: ")
user_tuple = tuple(map(int, user_input.split(',')))
print("42. Tuple from user input:", user_tuple)

In [ ]:
# 43. Swap two elements in a tuple.
tuple6 = (10, 20, 30, 40, 50)
index1, index2 = 1, 3
tuple_list = list(tuple6)
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]
swapped_tuple = tuple(tuple_list)
print(f"43. Tuple after swapping elements at index {index1} and {index2}:", swapped_tuple)

In [ ]:
# 44. Reverse the elements of a tuple.
reversed_tuple = tuple1[::-1]
print("44. Reversed tuple:", reversed_tuple)

In [ ]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_two_tuple = tuple(2 ** i for i in range(n))
print(f"45. Tuple of the first {n} powers of 2:", powers_of_two_tuple)

In [ ]:
# 46. Find the longest string in a tuple of strings.
strings_tuple = ("apple", "banana", "cherry", "date", "fig")
longest_string_tuple = max(strings_tuple, key=len)
print("46. Longest string in the tuple:", longest_string_tuple)

In [ ]:
# 47. Find the shortest string in a tuple of strings.
shortest_string_tuple = min(strings_tuple, key=len)
print("47. Shortest string in the tuple:", shortest_string_tuple)

In [ ]:
# 48. Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(f"48. Tuple of the first {n} triangular numbers:", triangular_numbers_tuple)

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence.
subsequence_tuple = (3, 4, 5)
sequence_tuple = (1, 2, 3, 4, 5, 6)
is_subseq_tuple = all(x in sequence_tuple for x in subsequence_tuple)
print("49. Does sequence_tuple contain subsequence_tuple?", is_subseq_tuple)

In [ ]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 6
alternating_tuple = tuple(1 - i % 2 for i in range(n))
print(f"50. Tuple of alternating 1s and 0s of length {n}:", alternating_tuple)

## Set Based Practice Problem :

In [ ]:
# 1. Create a set with integers from 1 to 5.
set1 = {1, 2, 3, 4, 5}
print("1. Set with integers from 1 to 5:", set1)

In [ ]:
# 2. Add an element to a set.
set1.add(6)
print("2. Set after adding element 6:", set1)

In [ ]:
# 3. Remove an element from a set.
set1.remove(3)
print("3. Set after removing element 3:", set1)

In [ ]:
# 4. Check if an element exists in a set.
element_to_check = 4
if element_to_check in set1:
    print(f"4. Element {element_to_check} exists in the set.")
else:
    print(f"4. Element {element_to_check} does not exist in the set.")

In [ ]:
# 5. Find the length of a set without using the `len()` function.
length = 0
for _ in set1:
    length += 1
print("5. Length of the set:", length)

In [ ]:
# 6. Clear all elements from a set.
set1.clear()
print("6. Set after clearing all elements:", set1)

In [ ]:
# 7. Create a set of even numbers from 1 to 10.
even_numbers_set = set(range(2, 11, 2))
print("7. Set of even numbers:", even_numbers_set)

In [ ]:
# 8. Create a set of odd numbers from 1 to 10.
odd_numbers_set = set(range(1, 11, 2))
print("8. Set of odd numbers:", odd_numbers_set)

In [ ]:
# 9. Find the union of two sets.
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print("9. Union of set1 and set2:", union_set)

In [ ]:
# 10. Find the intersection of two sets.
intersection_set = set1.intersection(set2)
print("10. Intersection of set1 and set2:", intersection_set)

In [ ]:
# 11. Find the difference between two sets.
difference_set = set1.difference(set2)
print("11. Difference between set1 and set2:", difference_set)

In [ ]:
# 12. Check if a set is a subset of another set.
is_subset = set1.issubset(set2)
print("12. Is set1 a subset of set2?", is_subset)

In [ ]:
# 13. Check if a set is a superset of another set.
is_superset = set1.issuperset(set2)
print("13. Is set1 a superset of set2?", is_superset)

In [ ]:
# 14. Create a set from a list.
list_to_set = set([1, 2, 3, 4, 5])
print("14. Set from a list:", list_to_set)

In [ ]:
# 15. Convert a set to a list.
set_to_list = list(set1)
print("15. List from a set:", set_to_list)

In [ ]:
# 16. Remove a random element from a set.
import random
random_element = random.choice(list(set1))
set1.remove(random_element)
print("16. Set after removing a random element:", set1)

In [ ]:
# 17. Pop an element from a set.
popped_element = set1.pop()
print("17. Popped element from the set:", popped_element)

In [ ]:
# 18. Check if two sets have no elements in common.
are_disjoint = set1.isdisjoint(set2)
print("18. Are set1 and set2 disjoint?", are_disjoint)

In [ ]:
# 19. Find the symmetric difference between two sets.
symmetric_difference_set = set1.symmetric_difference(set2)
print("19. Symmetric difference between set1 and set2:", symmetric_difference_set)

In [ ]:
# 20. Update a set with elements from another set.
set1.update(set2)
print("20. Set1 updated with elements from set2:", set1)

In [ ]:
# 21. Create a set of the first 5 prime numbers.
prime_numbers_set = {2, 3, 5, 7, 11}
print("21. Set of the first 5 prime numbers:", prime_numbers_set)

In [ ]:
# 22. Check if two sets are identical.
are_identical = set1 == set2
print("22. Are set1 and set2 identical?", are_identical)

In [ ]:
# 23. Create a frozen set.
frozen_set = frozenset([1, 2, 3, 4, 5])
print("23. Frozen set:", frozen_set)

In [ ]:
# 24. Check if a set is disjoint with another set.
is_disjoint = set1.isdisjoint(even_numbers_set)
print("24. Is set1 disjoint with even_numbers_set?", is_disjoint)

In [ ]:
# 25. Create a set of squares of numbers from 1 to 5.
squares_set = {x ** 2 for x in range(1, 6)}
print("25. Set of squares:", squares_set)

In [ ]:
# 26. Filter out all even numbers from a set.
filtered_set = {x for x in set1 if x % 2 != 0}
print("26. Set after filtering out even numbers:", filtered_set)

In [ ]:
# 27. Multiply all elements in a set by 2.
multiplied_set = {x * 2 for x in set1}
print("27. Set after multiplying all elements by 2:", multiplied_set)

In [ ]:
# 28. Create a set of random numbers.
random_set = set(random.randint(1, 100) for _ in range(5))
print("28. Set of random numbers:", random_set)

In [ ]:
# 29. Check if a set is empty.
is_empty = not bool(set1)
print("29. Is set1 empty?", is_empty)

In [ ]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5})}
print("30. Nested set:", nested_set)

In [ ]:
# 31. Remove an element from a set using the discard method.
element_to_remove = 5
set1.discard(element_to_remove)
print("31. Set after removing element 5 using discard:", set1)

In [ ]:
# 32. Compare two sets.
comparison_result = set1 == even_numbers_set
print("32. Are set1 and even_numbers_set equal?", comparison_result)

In [ ]:
# 33. Create a set from a string.
string_to_set = set("python")
print("33. Set from a string:", string_to_set)

In [ ]:
# 34. Convert a set of strings to a set of integers.
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}
print("34. Set of strings:", set_of_strings)
print("    Set of integers:", set_of_integers)

In [ ]:
# 35. Convert a set of integers to a set of strings.
set_of_integers2 = {1, 2, 3, 4, 5}
set_of_strings2 = {str(x) for x in set_of_integers2}
print("35. Set of integers:", set_of_integers2)
print("    Set of strings:", set_of_strings2)

In [ ]:
# 36. Create a set from a tuple.
tuple_to_set = set((1, 2, 3, 4, 5))
print("36. Set from a tuple:", tuple_to_set)

In [ ]:
# 37. Convert a set to a tuple.
set_to_tuple = tuple(set1)
print("37. Tuple from a set:", set_to_tuple)

In [ ]:
# 38. Find the maximum value in a set.
max_value_set = max(set1)
print("38. Maximum value in the set:", max_value_set)

In [ ]:
# 39. Find the minimum value in a set.
min_value_set = min(set1)
print("39. Minimum value in the set:", min_value_set)

In [ ]:
# 40. Create a set from user input.
user_input = input("Enter elements separated by spaces: ")
user_input_set = set(map(int, user_input.split()))
print("40. Set from user input:", user_input_set)

In [ ]:
# 41. Check if the intersection of two sets is empty.
is_intersection_empty = len(set1.intersection(set2)) == 0
print("41. Is the intersection of set1 and set2 empty?", is_intersection_empty)

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.
fibonacci_set = {0, 1, 1, 2, 3}
print("42. Set of the first 5 Fibonacci numbers:", fibonacci_set)

In [ ]:
# 43. Remove duplicates from a list using sets.
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
list_without_duplicates = list(set(list_with_duplicates))
print("43. List with duplicates:", list_with_duplicates)
print("    List without duplicates:", list_without_duplicates)

In [ ]:
# 44. Check if two sets have the same elements, regardless of their count.
are_elements_same = set1 == set(list_with_duplicates)
print("44. Do set1 and list_with_duplicates have the same elements?", are_elements_same)

In [ ]:
# 45. Create a set of the first `n` powers of 2.
n = 5
powers_of_two_set = {2 ** i for i in range(n)}
print(f"45. Set of the first {n} powers of 2:", powers_of_two_set)

In [ ]:
# 46. Find the common elements between a set and a list.
common_elements_set_list = set1.intersection(set(list_with_duplicates))
print("46. Common elements between set1 and list_with_duplicates:", common_elements_set_list)

In [ ]:
# 47. Create a set of the first `n` triangular numbers.
n = 5
triangular_numbers_set = {(i * (i + 1)) // 2 for i in range(1, n + 1)}
print(f"47. Set of the first {n} triangular numbers:", triangular_numbers_set)

In [ ]:
# 48. Check if a set contains another set as a subset.
is_subset_check = set1.issuperset(even_numbers_set)
print("48. Is set1 a superset of even_numbers_set?", is_subset_check)

In [ ]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 6
alternating_set = {1 - i % 2 for i in range(n)}
print(f"49. Set of alternating 1s and 0s of length {n}:", alternating_set)

In [ ]:
# 50. Merge multiple sets into one.
set3 = {7, 8, 9, 10}
merged_set = set1.union(set2, set3)
print("50. Merged set of set1, set2, and set3:", merged_set)